<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
    {{ section.settings.main-404-subtext }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>

{% schema %}
{
  "name": "Error page",
  "settings": [
    {
      "id": "main-404-subtext",
      "type": "text",
      "label": "A error page",
      "default": "This is error Page!"
    }
  ]
}
{% endschema %}
